#basic-one {
  margin-top: 8rem;
}

#basic-one .content {
  width: 900px;
  /* background: red; */
  margin: 0 auto;
}

#basic-one .content h1 {
  text-align: center;
  font-family: "Neuton";
  font-size: 3.2rem;
}

#basic-one .basic-body {
  margin-top: 3rem;
  font-family: "Montserrat";
  font-size: 1.2rem;
  line-height: 1.6;
}

#basic-one .basic-exc {
  margin-top: 7rem;
  background: #f2f2f2;
  padding: 4rem;
}

#basic-one .basic-exc h3 {
  font-family: "Neuton";
  color: grey;
  font-size: 2.5rem;
  margin-bottom: 5rem;
}

#basic-one .basic-exc h2 {
  font-family: "Montserrat";
  font-weight: bold;
  margin-bottom: 2rem;
}

#basic-one .basic-exc .basic-steps img {
  width: 20rem;
  padding-bottom: 2rem;
}

#basic-one .basic-exc .basic-steps h4 {
  font-family: "Montserrat";
  font-weight: bold;
}

#basic-one .basic-exc .basic-steps {
  padding-bottom: 8rem;
}

#basic-one .basic-exc .basic-steps:nth-of-type(8)::before {
  content: "";
  display: block;
  width: 120px;
  height: 30px;
  background: #fff;
  position: relative;
  top: 280px;
  z-index: 9;

}

#basic-one .basic-exc .basic-steps ul li {
  font-size: 1.17rem;
  font-family: "Montserrat";
  list-style-type: circle;
}

#basic-one .content .basic-modal .info-button {
  /* width: 10.2rem;
  height: 4rem; */
  border: none;
  outline: none !important;
  background: #071A52;
  padding: 0.7rem 1.8rem;
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-family: "Montserrat";
  margin-bottom: 4rem;
}

#basic-one .content .basic-modal .info-button:hover {
  background-color: #0c2a8d;
  box-sizing: border-box;
  box-shadow: 2px 4px 10px rgba(0,0,0,0.9);
  transition: 0.2s ease;
}

#basic-one .content .basic-modal .modal-footer button {
  background: none;
  outline: none !important;
  border: none;
}

#basic-one .content .basic-modal p {
  font-family: "Montserrat";
  font-size: 1.2rem;
}

#basic-one .content .basic-modal p:nth-of-type(1) {
  margin-top: 5rem;
  font-weight: bold;
  font-size: 1.4rem;
}


#basic-one .content .basic-modal .modal .modal-header {
  background-color: #A7FF83;
}

#basic-one .content .basic-modal .modal .modal-header h5 {
  font-family: "Neuton";
  font-size: 1.8rem;
}

#basic-one .content .basic-modal .modal p {
  font-size: 1.1rem;
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
}

#basic-one .content .basic-modal .modal .modal-body input {
  width: 19rem;
  border: .5px solid grey;
  border-radius: 4px;

}

#basic-one .content .basic-modal .modal .modal-body label {
  font-family: "Montserrat";
}

#basic-one .content .basic-modal .modal .modal-body input[placeholder] {
  padding: 8px 10px;
  font-family: "Montserrat";
  font-size: 1rem;
}

#basic-one .content .basic-modal .modal .modal-body input:focus {
  outline: none !important;
  border: 1.4px solid #34C002;
}

#basic-one .content .basic-modal .modal .modal-body .modal-footer .cancel-btn {
  background: grey;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

#basic-one .content .basic-modal .modal .modal-body .modal-footer .get-btn {
  background: #34C002;
  padding: 10px 20px;
  color: #fff;
  border-radius: 5px;
}

#basic-one .content .basic-modal .modal .modal-body .modal-footer .get-btn:hover {
  background: green;
}




/* Media Queries */

/* For Small Devices  */
@media screen and (max-width: 768px) {

  #basic-one .content {
    width: auto;
    margin: 0 auto;
  }

  #basic-one .basic-body {
    padding: 1rem;
  }


  #basic-one .content .basic-modal{
    padding: 1rem;
  }

  #basic-one .basic-exc {
    padding: 2rem;
  }

}


/* Small Devices, Mobiles  */
@media screen and (max-width: 340px) {

  #basic-one .content h1 {
    font-size: 2.8rem;
  }

  #basic-one .content .basic-modal .modal .modal-body input {
    width: 17rem;
  }

  #basic-one .content .basic-modal .modal .modal-body input[placeholder] {
    padding: 8px 10px;
    font-family: "Montserrat";
    font-size: 0.9rem;
  }

  #basic-one .basic-exc h3 {
    font-size: 2rem;
  }

  #basic-one .basic-exc .basic-steps h2 {
    font-size: 1.5rem;
  }

  #basic-one .basic-exc .basic-steps h4 {
    font-size: 1.4rem;
  }
}


/* Small Devices, Mobiles  */
@media screen and (max-width: 320px) {

  #basic-one .content {
    width: auto;
    margin: 0 auto;
  }

  #basic-one .basic-body {
    padding: 0.5rem;
  }


  #basic-one .content .basic-modal {
    padding: 0;
  }

  #basic-one .content .basic-modal p {
    padding: .4rem;
  }

  #basic-one .content .basic-modal .modal-form .info-button {
    margin-left: 0.4rem;
    padding: 0.6rem 1.5rem;
  }

  #basic-one .basic-exc {
    padding: 0.4rem;
  }

}
